<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.personPositionBg.dao.NewMapper">
	<select id="queryForInt" resultType="java.lang.Integer">
		select count(*) from new where 1=1
		<if test="title!=''&amp;title!=null">
			and title like CONCAT('%',#{title},'%')
		</if>
	</select>
	<select id="queryList" resultType="com.personPositionBg.entity.New">
		select * from new where 1=1
		<if test="title!=''&amp;title!=null">
			and title like CONCAT('%',#{title},'%')
		</if>
		order by createTime
		limit #{rowNum},#{rows}
	</select>
	<insert id="add" parameterType="com.personPositionBg.entity.New">
		insert into new
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title!=null">
				title,
			</if>
			<if test="content!=null">
				content,
			</if>
				createTime
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title!=null">
				#{title},
			</if>
			<if test="content!=null">
				#{content},
			</if>
				now()
		</trim>
	</insert>
 </mapper>